<div class="container">
  <div class="container-content">
    <div class="button-light mx-auto"><span class="button-text">Relancer</span></div>
    <div class="scroll">
      <% @movies.each do |movie| %>
        <div class="movie-card">
          <div class="movie-card-save-icon"><%= link_to image_tag("Save icon.png"), movies_path %></div>
          <%= link_to(movie_path(movie), class: "text-decoration-none") do %>
            <div class="movie-card" style="background-image: url('<%= movie.vertical_image_url %>')">
              <div class="movie-card card-gradient">
                <div class="movie-card-text">
                  <h5 class="light-text"><%= movie.title %></h5>
                  <h6 class="light-text small"><%= movie.overview.first(50) %></h6>
                  <div class="movie-capsules-container">
                    <div class="movie-capsule"><%= movie.runtime %> min</div>
                    <div class="movie-capsule"><%= movie.release_year %></div>
                    <div class="movie-capsule"><%= movie.genres %></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <h3>Mes playlists</h3>
    <div class="scroll">
      <div class="scroll-fade-right"></div>
      <div class="scroll-container">
        <% @playlists.each do |playlist| %>
          <div class="list-card" style="background-image: url('<%= image_path("Playlist test image.png") %>')">
              <div class="list-card card-gradient">
                <h6 class="light-text small"><%= playlist.name %></h6>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
