<div class="container">
  <div class="container-content">
    <div class="button-light mx-auto">
      <%= link_to "Relancer", movies_path(params.permit(:duration, :services, :genres, search: :query)), class: "button-text" %>
    </div>

    <% if @movies.present? %>
      <div class="scroll">
        <% @movies.each do |movie| %>
          <div class="movie-card hover-on">
            <div class="movie-card-save-icon">
              <%= link_to image_tag("Save icon.png"), movie_new_movie_to_playlist_path(movie.id), data: { turbo_frame: "_top"} %>
            </div>
            <%= link_to(movie_path(movie), class: "text-decoration-none", data: {turbo_frame: "movie-modal"}) do %>
              <div class="movie-card" style="background-image: url('<%= movie.vertical_image_url %>')">
                <div class="movie-card card-gradient">
                  <div class="movie-card-text">
                    <h4><%= movie.title %></h4>
                    <h6><%= movie.overview.first(100) %>...</h6>
                    <div class="movie-capsules-container">
                      <% if movie.show_type == 'series' %>
                        <div class="movie-capsule"><%= movie.season_count %> <%= movie.season_count == 1 ? 'Saison' : 'Saisons' %></div>
                      <% else %>
                        <div class="movie-capsule"><%= movie.runtime %> min</div>
                      <% end %>
                      <div class="movie-capsule"><%= movie.release_year %></div>
                      <div class="movie-capsule"><%= movie.translated_genres %></div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="no-results">
        <p>Aucun résultat pour cette recherche...</p>
      </div>
    <% end %>

    <h3><%= link_to "Mes playlists", playlists_path, class: "light-text-h3 text-decoration-none hover-on-shine" %></h3>
    <div class="scroll">
      <div class="scroll-fade-right"></div>
      <div class="scroll-container">
        <% @playlists.each do |playlist| %>
          <% if playlist.photo.key? %>
            <div class="list-card hover-on" style="background-image: url('<%= cl_image_path playlist.photo.key %>')">
              <%= link_to(playlist_path(playlist), class: "text-decoration-none") do %>
                <div class="list-card card-gradient">
                  <h5><%= playlist.name %></h5>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="list-card" style="background-image: url('<%= image_path("Playlist test image.png") %>')">
              <%= link_to(playlist_path(playlist), class: "text-decoration-none") do %>
                <div class="list-card card-gradient">
                  <h5><%= playlist.name %></h5>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <div class="list-card" style="background: transparent; box-shadow: none">
          <%= link_to(playlists_path) do %>
            <h5 class="hover-on-shine">Voir toutes mes playlists</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
