<div class="container">
  <div class="container-content">
    <div class="button-light mx-auto"><span class="button-text">Relancer</span></div>
    <div class="scroll">
      <% @movies.each do |movie| %>
        <%= link_to(movie_path(movie), class: "text-decoration-none") do %>
          <div class="movie-card" style="background-image: url('<%= movie.vertical_image_url %>')">
            <div class="movie-card card-gradient">
              <p class="light-text"><%= movie.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <h3>Mes playlists</h3>
    <div class="scroll">
      <% @playlists.each do |playlist| %>
        <div class="playlist-card" style="background-image: url('<%= image_path("Playlist test image.png") %>')">
            <div class="playlist-card card-gradient">
              <p class="light-text"><%= playlist.name %></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
