 <%= turbo_frame_tag "movie-modal" do %>
<div class="container" data-controller="modal">
  <div class="modale-container" data-controller="service-selector">
    <div class="modale-container-above">
      <%# TODO  griser le bouton tant qu'aucune plateforme n'est sélectionnée ? pas très user friendly
                le lien du bouton doit être celui du service_show sélectionné %>
      <div class="modale-save-icon"><%= link_to image_tag("Save icon.png"), movie_new_movie_to_playlist_path(@movie.id), data: { turbo_frame: "_top"} %></div>
      <div class="button-watch">
        <%= link_to "Regarder", "#", class: "button-text", data: { service_selector_target: "watchButton" }, target: "_blank" %>
      </div>
    </div>
<%# button-light %>
<div class="modale-container-trailer">
    <div class="modale-quit-icon-trailer" data-action="click->modal#modalReset">
      <%= image_tag("Quit icon cest bon la wesh.png") %>
    </div>
  </div>
    <div class="modale-container-trailer" style="background-image: url(<%= @movie.horizontal_image_url %>)" data-controller="trailer" data-trailer-link="<%= @movie.trailer_link %>">
      <% if @movie.trailer_link.present? %>
        <div class="modale-play-icon" data-action="click->trailer#playTrailer">
          <%= image_tag("Play icon.png") %>
        </div>
      <% end %>
      <div class="youtube-trailer-container" data-trailer-target="iframeContainer"></div>
    </div>

    <div class="modale-container-content-top"> </div>
    <div class="modale-container-content">
      <div class="scroll-service">
        <% @services.each do |service| %>
          <% service_show = ServiceShow.find_by(service: service, movie: @movie) %>
          <div class="service-card">
            <img src="<%= service.service_logo_link %>" alt="<%= service.service %>" data-action="click->service-selector#select" data-link="<%= service_show&.link %>" >
          </div>
        <% end %>
      </div>
      <% if @movie.overview == "Aucune description disponible" %>
        <p class="light-text">Mmmh... Il semble que vous allez devoir deviner la description de ce film (spoiler : Daenerys meurt à la fin de la saison 8).</p>
      <% else %>
        <p class="light-text"><%= @movie.overview %></p>
      <% end %>
      <p class="light-text"><span class="dark-text">Distribution :</span> <%= @movie.cast %></p>
      <p class="light-text"><span class="dark-text">Réalisation :</span> <%= @movie.real %></p>
      <% if @movie.rating >= 80 %>
        <p class="light-text"><span class="dark-text">★★★★</span>★ <%= @movie.rating.to_i / 20 %>/5</p>
      <% elsif @movie.rating >= 60 %>
        <p class="light-text"><span class="dark-text">★★★</span>★★ <%= @movie.rating.to_i / 20 %>/5</p>
      <% elsif @movie.rating >= 40 %>
        <p class="light-text"><span class="dark-text">★★</span>★★★ <%= @movie.rating.to_i / 20 %>/5</p>
      <% else %>
        <p class="light-text"><span class="dark-text">★</span>★★★★ <%= @movie.rating.to_i / 20 %>/5</p>
      <% end %>
    </div>
    <div class="modale-container-content-bottom"> </div>
  </div>
</div>
<% end %>
