<div class="modale-container">
  <div class="modale-container-trailer" style="background-image: url(<%= @movie.horizontal_image_url %>)">
    <div class="modale-container-trailer gradient">
      <div class="modale-quit-icon"><%= link_to image_tag("Quit icon.png"), movies_path %></div>
      <div class="modale-play-icon"><%= image_tag("Play icon.png") %></div>
    </div>
  </div>
  <div class="modale-container-content">
    <p class="modale-text-light"><%= @movie.overview %></p>
    <p class="modale-text-light"><span class="modale-text-dark">Distribution :</span> <%= @movie.cast %></p>
    <p class="modale-text-light"><span class="modale-text-dark">Réalisation :</span> <%= @movie.real %></p>

      <div class="scroll">
        <% @services.each do |service| %>
          <div class="service-card" style="background-image: url(<%= @movie.horizontal_image_url %>), alt:<%= service.service %>">
            <div class="d-flex justify-content-between"></div>
          </div>
        <% end %>
      </div>

  </div>
</div>
