<div class="profile-background">

  <!-- Bloc 1 : Profil Utilisateur -->
  <section class="profile-main-block">
    <div class="profile-container">

      <!-- Bouton d'édition -->
      <div class="profile-edit-icon">
        <%= link_to edit_myprofile_path, class: "profile-edit-button" do %>
          <i class="bx bx-pencil"></i>
        <% end %>
      </div>

      <!-- Photo de profil -->
      <div class="profile-pic-container">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, alt: "Avatar utilisateur", class: "profile-avatar" %>
        <% else %>
          <%= image_tag "default-avatar.png", alt: "Avatar par défaut", class: "profile-avatar" %>
        <% end %>
      </div>

      <!-- Nom de l'utilisateur -->
      <div class="profile-username">
        <h2 class="profile-title">Bonjour, <%= current_user.first_name.capitalize %> !</h2>
      </div>

      <!-- Plateformes préférées -->
        <div class="profile-section">
          <h3 class="profile-section-title">Vos plateformes préférées</h3>
          <div class="profile-platform-grid">
            <% if current_user.services.any? %>
              <% current_user.services.each do |service| %>
                <span class="profile-platform-button"><%= service.service.presence || "Service inconnu" %></span>
              <% end %>
            <% else %>
              <p class="profile-empty-message">Vous n'avez pas encore de services préférés</p>
              <%= link_to "Ajouter mes services", edit_myprofile_path, class: "profile-add-button" %>
            <% end %>
          </div>
        </div>

    </div>
  </section>

  <!-- Bloc 2 : Playlists -->
    <h3><%= link_to "Mes playlists", playlists_path, class: "light-text-h3 text-decoration-none" %></h3>
    <div class="scroll">
      <div class="scroll-fade-right"></div>
      <div class="scroll-container">
          <% current_user.playlists.each do |playlist| %>
          <% if playlist.photo.key? %>
            <div class="list-card" style="background-image: url('<%= cl_image_path playlist.photo.key %>')">
              <%= link_to(playlist_path(playlist), class: "text-decoration-none") do %>
                <div class="list-card card-gradient">
                  <h5><%= playlist.name %></h5>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="list-card" style="background-image: url('<%= image_path("Playlist test image.png") %>')">
              <%= link_to(playlist_path(playlist), class: "text-decoration-none") do %>
                <div class="list-card card-gradient">
                  <h5><%= playlist.name %></h5>
                </div>
              <% end %>
            </div>
          <% end %>

        <% end %>
        <div class="list-card" style="background: transparent; box-shadow: none">
          <%= link_to(playlists_path) do %>
            <h5>Voir toutes mes playlists</h5>
          <% end %>
        </div>
      </div>
    </div>
</div>
