<div>
  <header>
    <div>
      <%= image_tag "logo.png", alt: "Logo Aukera" %>
    </div>
    <div>
      <%= form_with url: search_path, method: :get, local: true do %>
        <%= search_field_tag :query, nil, placeholder: "Rechercher..." %>
        <%= submit_tag "Rechercher" %>
      <% end %>
    </div>
  </header>

  <section>
    <div>

      <%= image_tag "default-avatar.png", alt: "Avatar utilisateur" %>
    </div>
    <div>

      <p>@<%= current_user.first_name.downcase %><%= current_user.last_name.downcase %></p>
    </div>
    <div>

      <%= link_to "Modifier mon profil", edit_myprofile_path %>
    </div>
  </section>

  <section>
    <h2>Genres préférés</h2>
    <ul>
      <% current_user.playlists.first&.movies&.each do |movie| %>
        <li><%= movie.genres.split(',').first %></li>
      <% end %>
    </ul>
  </section>

  <section>
    <h2>Mes playlists</h2>
    <ul>
      <% current_user.playlists.each do |playlist| %>
        <li>
          <%= link_to playlist_path(playlist) do %>
            <%= image_tag "playlist-placeholder.png", alt: "Image playlist" %>
            <p><%= playlist.name %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
