<div class="background-home" data-controller="filter">
  <%# L'overlay qui assombrit le fond quand les filtres sont ouverts %>
  <div class="overlay" data-filter-target="overlay"></div>

  <div class="content-container">
    <%# Contenu %>
    <h1 class="text-light">On regarde quoi ce soir ?</h1>
    <p class="p-color">On vous aide en quelques clics !</p>

    <%# Barre de recherche %>
    <div class="search-container">
  <div class="search-wrapper">
    <%= simple_form_for :search, url: movies_path, method: :get do |f| %>
      <%= f.input :query, label: false, input_html: { class: "search-input", placeholder: "Recherche" },
                  wrapper_html: { class: 'search-input-wrapper' },
                  wrapper: :default %>

      <%= hidden_field_tag 'genres', nil, data: { filter_target: "genreInput" } %>
      <%= hidden_field_tag 'services', nil, data: { filter_target: "platformInput" } %>
      <%= hidden_field_tag 'duration', nil, data: { filter_target: "durationInput" } %>

      <div class="search-icon">
        <%= button_tag type: 'submit', class: 'button-no-style' do %>
          <i class='bx bx-search fs-1'></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

    <%# Switch button Films/Séries %>
    <div class="switch-wrapper">
      <span class="label-text">FILMS</span>
      <div class="toggle-switch">
        <input class="toggle-input" id="toggle" type="checkbox", name="toggle", value="1">
        <label class="toggle-label" for="toggle"></label>
      </div>
      <span class="label-text">SÉRIES</span>
    </div>

    <%# Section des filtres avec le lien qui ouvre la carte %>
    <div class="filter-section">
      <p class="p-color">Besoin d'affiner ?</p>
      <%= link_to 'FILTRES', '#', class: 'filter-button', data: {action: "click->filter#open"} %>
    </div>

    <%# La nouvelle carte de filtres (cachée par défaut) %>
    <div class="filter-card" data-filter-target="card">
      <%# En-tête de la carte %>
      <div class="filter-header">
        <div class="header-left">
          <i class='bx bx-filter-alt fs-1' style="color: #4C50FF"></i>
          <h2>Filtres</h2>
        </div>
        <button class="close-button" data-action="click->filter#close">
          <i class='bx bx-x fs-1'></i>
        </button>
      </div>

      <%# Section des genres %>
      <div class="filter-section">
        <div class="section-title">
          <h3>Genres</h3>
          <span class="counter" data-filter-target="genreCounter">0</span>
        </div>
        <div class="genre-grid">
          <% Movie::GENRES.each do |english_genre, details| %>
            <button class="genre-button" data-action="click->filter#toggleGenre" data-genre="<%= english_genre %>">
              <i class="<%= details[:icon] %>"></i>
              <span><%= details[:name] %></span>
            </button>
          <% end %>
        </div>
      </div>

      <%# Section des plateformes %>
      <div class="filter-section">
        <div class="section-title">
          <h3>Plateformes</h3>
          <span class="counter" data-filter-target="platformCounter">0</span>
        </div>
          <div class="platform-slide">
            <% Service.all.each do |service| %>
              <button class="platform-button" data-action="click->filter#togglePlatform" data-platform="<%= service.service %>">
                <img src="<%= service.service_logo_link %>" alt="<%= service.service %> logo" class="service-logo">
              </button>
            <% end %>
          </div>
      </div>

      <%# Section durée %>
      <div class="filter-section">
        <h3>Durée</h3>
        <div class="duration-slider">
          <div class="duration-display" data-filter-target="durationDisplay">
            Durée maximale : <span>300</span> minutes
          </div>
          <input type="range", min="0", max="300", value="150" class="slider" data-action="input->filter#updateDurationDisplay", data-filter-target="durationSlider">
        </div>
      </div>

      <%# Bouton de recherche %>
      <button class="search-filter-button" data-action="click->filter#submitFilters">RECHERCHER</button>
    </div>
  </div>
</div>
