<%= turbo_frame_tag "movie-modal", turbo_frame: "_top" do %>
  <div class="form-container form-gradient">
    <div class="modale-form-container">
      <h3 class="form-title">Modifier ma playlist</h3>
      <div class="form-container-content">
        <%= simple_form_for(@playlist) do |f| %>
          <%= f.input :name, label: false, value: @playlist.name %>
          <%= f.input :description, label: false, value: @playlist.description %>
          <%= f.input :photo, label: false, as: :file %>
          <%= f.submit "Modifier", class: "button-form", data: {turbo_frame: "_top"} %>
        <% end %>
        <div class="button-form-dark"><%= link_to "Annuler", :back, class: "text-decoration-none text-info" %></div>
      </div>
    </div>
  </div>
<% end %>
