<div class="container">
  <div class="container-content">
  <div class="playlists-container-content">
  <div class="modale-quit-icon"><%= link_to image_tag("Quit icon.png"), playlists_path %></div>
    <h1 class="aukera-h1"><%= @playlist.name %></h1>
    <h6 class="light-text"><%= @playlist.description %></h6>
    <div class="playlist-container">
      <div class="playlist-edit-icon"><%= link_to image_tag("Edit icon.png"), edit_playlist_path(@playlist), data: { turbo_frame: 'movie-modal' } %></div>
      <div class="button-light"><span class="button-text"><%= link_to "＋ Ajouter un film", playlists_path %></span></div>
    </div>
      <div class="scroll-container">
      <% @movies.each do |movie| %>
        <div class="movie-card-hz hover-on">
          <div class="movie-icons" data-controller="alert">
            <div class="playlist-icon"><%= link_to image_tag("Save icon.png"), movie_new_movie_to_playlist_path(movie.id), data: { turbo_frame: "_top"} %></div>
            <%# <div class="playlist-icon"><%= link_to image_tag("Delete icon.png"), playlist_movie_remove_movie_from_playlist_path(@playlist, movie), data: { turbo_method: :delete, turbo_confirm: "#{movie.title} va être retiré de #{@playlist.name} !"} %>
            <div class="playlist-icon"><%= button_to image_tag("Delete icon.png"), playlist_movie_remove_movie_from_playlist_path(@playlist, movie), method: :delete, class: "delete-button", data: { controller: "alert", turbo: false, action: "click->alert#initSweetalert", text: "#{movie.title} va être retiré de #{@playlist.name} !" }%></div>
          </div>
          <%= link_to(movie_path(movie), class: "text-decoration-none") do %>
            <div class="movie-card-hz" style="background-image: url('<%= movie.horizontal_image_url %>')">
              <div class="movie-card-hz card-gradient">
                <div class="movie-card-text">
                  <h4><%= movie.title %></h4>
                  <h6><%= movie.overview.first(50) %>...</h6>
                  <div class="movie-capsules-container">
                    <div class="movie-capsule"><%= movie.runtime %> min</div>
                    <div class="movie-capsule"><%= movie.release_year %></div>
                    <div class="movie-capsule"><%= movie.genres %></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
