<!DOCTYPE html>
<html>
  <head>
    <title><%= "Aukera | Choisissez votre film en quelques clics !" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

    <meta name="apple-mobile-web-app-title" content="Aukera" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag "movie-modal" %>

    <%= render "shared/navbar" %>
    <%# , unless controller_name == "name" %>
    <%= render "shared/flashes" %>
    
    <% if controller.controller_name == 'pages' %>
      <%= render "shared/footbar_home" %>
    <% elsif controller.controller_name == 'movies' %>
      <%= render "shared/footbar_movies" %>
    <% elsif controller.controller_name == 'playlists' %>
      <%= render "shared/footbar_playlists" %>
    <% else %>
      <%= render "shared/footbar_user" %>
    <% end %>

    <%= yield %>

  </body>
</html>
